@import './design-system/main.css';
@import './components/main.css';

/* кнопка - спокойное состояние и ховер + фокус */


.logo-link-footer {
    color: var(--color-white);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-link-footer>span {
    color: var(--color-logo)
}

.promo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.promo-list {
    list-style: none;
}

.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.team {
    background-color: var(--color-background-batton)
}

.team ul {
    list-style: none;
}

.time-item {
    background-color: var(--color-white);
}

.footer {
    background-color: var(--color-background-hero)
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-white);
    font-style: normal
}

.address ul {
    list-style: none;
}

.address a {
    text-decoration: none;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus,
.footer-address:hover,
.footer-address:focus {
    color: var(--color-action);
}

.footer-address {
    color: var(--color-white);
}

.filter-list {
    list-style: none
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
    background-color: var(--color-background-batton);
    cursor: pointer;
    border: none;
}


.filter-button:focus,
.filter-button:hover {
    color: var(--color-white);
    background-color: var(--color-action);
}


.filter-item {
    list-style: none
}

.filter-item h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-secondary);
}

.current {
    color: var(--color-action);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}