body {
    font-family: Roboto, sans-serif;
    color: var(--color-primary);
}

.logo-font {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.navigation-font {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

.address-font {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

.primary-title-font {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
}

.secondary-title-font {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.button-font {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
}