:root {
    --color-primary: #757575;
    /* главный цвет текста */
    --color-secondary: #212121;
    --color-logo: #2196F3;
    --color-background-color: #F5F5F5;
    --color-background-hero: #2F303A;
    --color-action: #2196F3;
    --color-white: #fff;
    --color-adres: #757575;
    --color-background-batton: #F5F4FA;
    --color-black: #000;
    --color-hero-button-action: #188CE8;
}